*{
	margin: 0;
	padding: 0;
}

#body1{
	width: auto;
	height: 1000px;
	display:flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/c1.jpg);
}

#box{
	width: 350px;
	height: 250px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	border-radius: 10px;
	padding: 50px;
	position: absolute;
	top: 200px;
	left: 37.5%;
}

#login{
	width: 500px;
	height: 300px;
	border-top:0px solid ;
	border-bottom:0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
	z-index: auto;
	float: left;
	position: absolute;
	top: 320px;
	left: 38%;
	opacity: 0.7;
}

.fl {
	float: left;
	font-size:25px;
	padding-top:20px;
	color:white;
}

#hr{
	width: 350px;
	height: 20px;
	content: '';
	display: block;
	clear: both;
	position: relative;
	left: 31%;
}

.tableItem {
	position: relative;
	left: 10%;
	z-index: 100;
	height: 24px;
	width: 300px;
	margin-bottom: 20px;
	padding: 14px 18px;
	border: 1px solid #dedede;
	background: #FFF;
	line-height: 24px;
	border-radius: 30px;
}

.tableItem input {
	vertical-align: middle;
	width: 230px;
	height: 24px;
	padding-left: 20px;
	border: 0 none;
	line-height: 24px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	outline: none;
	border-radius: 30px;
}

.tableBtn{
	position: absolute;
	top: 150px;
	left: 13%;
}

.userHead {
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url(../img/i_u.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
}

.userLock {
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url(../img/lock.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
}

.tableBtn {
	width: 300px;
	height: 52px;
	border: 0 none;
	background: #ff3c3c;
	font-size: 16px;
	color: #FFF;
	cursor: pointer;
	text-shadow: 1px 1px 1px #ff7373;
	font-family: "Microsoft YaHei";
	line-height: 52px;
	border-radius: 30px;
}
